body
{
	font-family: Verdana, sans-serif; 
	font-size:0.8em;
	background-color:#000000
}

#header
{
	background-color:#5c9ccc; 
	border-radius:5px; 
	padding:8px
}

#Encodervalues, #Drivevalues, ##Drivevalues_Charts
{
	width:auto;
	margin: 0 auto;
}

#Section_Encodervalues, #Section_Drivevalues
{
	border:1px solid gray;  
	padding:8px;
	
}

.Encoder_Left, .Encoder_Right, .Drive_Left, .Drive_Right, .Drive_Left_Chart, .Drive_Right_Chart
{
	width: 50%;	
	float: left;
	text-align: center;
}

#id_table_md49data{
	border: 1px solid black
}

#id_table_md49encoders{
	border: 1px solid black
}